.gallery-page {
  padding-top: 0;
}

.gallery-container {
  padding: 20px 0;
}

.gallery-section {
  padding-top: 0;
  padding-bottom: 0;
}

.gallery-description {
  margin: 2.5rem auto 0 auto; 
  padding: 1rem 1.5rem;
  max-width: 50%; /* Garante que não fique colado nas bordas no mobile */

  background-color: #f8f9fa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-left: 5px solid hsl(214, 95%, 20%);
  border-radius: 8px; 
  
  text-align: justify; 
  font-size: 1.1rem;
  line-height: 1.7;
  color: #343a40; 
  font-style: italic; 
}

/* Responsive */
@media (max-width: 768px) {
  .gallery-description {
    max-width: 95%; /* Ajusta a largura no mobile */
    font-size: 1rem; /* Reduz o tamanho da fonte no mobile */
  }
}
